.container { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 300px;
    max-width: 350px;
    display: block;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}